<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Commute</title>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" media="screen" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body id="search">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12">   </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"><div class="circle bg"><i class=" material-icons ">directions_walk</i></div></div>
        <div class="col-md-2"><div class="circle bg"><i id="bike" class="fa fa-bicycle fa-5x icon" aria-hidden="true"></i></div></div>
        <div class="col-md-2"><div class="circle bg"><i class="fa fa-subway fa-5x icon" aria-hidden="true"></i></div></div>
        <div class="col-md-2"><div class="circle bg"><i class="fa fa-car fa-5x icon" aria-hidden="true"></i></div></div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-2"><div class="sidemetrics"><i class=" fa fa-eur icon" aria-hidden="true"></i></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @walking_cost %></div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @bike_cost %></div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @transit_cost %></div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @car_cost %></div></div></div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><div class="sidemetrics"><i class="fa fa-clock-o icon" aria-hidden="true"></i></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @walking_time %> hrs</div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @bike_time %> hrs</div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @transit_time %> hrs</div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @car_time %> hrs</div></div></div>

        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2"><div class="sidemetrics"><i class="fa fa-envira icon" aria-hidden="true"></i></div></div>
        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @walking_co2 %> g</div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @bike_co2 %> g </div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @transit_co2 %> g</div></div></div>

        <div class="col-md-2"><div class="data-sq bg"><div class="datatxt"><%= @car_co2 %> g</div></div></div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>
