<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Commute</title>


  </head>
  <body id="search">

      <div class="row">
    <h1>Bike</h1>
    <p>
      Your time per month is ***<%= @bike_time %>
      hours***
      <br>
      Your cost per month is ***<%= @bike_cost %>
      euros***<br>
      Your CO2 emmissions is ***<%= @bike_co2 %>
      (g)***
    </p>
    <h1>Car</h1>
    <p>
      Your time per month is ***<%= @car_time %>
      hours***
      <br>
      Your cost per month is ***<%= @car_cost %>
      euros***<br>
      Your CO2 emmissions is ***<%= @car_co2 %>
      (g)***
    </p>
    <h1>Transit</h1>
    Your time per month is ***<%= @transit_time %>
    hours***
    <br>
    Your cost per month is ***<%= @transit_cost %>
    euros***<br>
    Your CO2 emmissions is ***<%= @transit_co2 %>
    (g)***
    <h1>Walking</h1>
    Your time per month is ***<%= @walking_time %>
    hours***
    <br>
    Your cost per month is ***<%= @walking_cost %>
    euros***<br>
    Your CO2 emmissions is ***<%= @walking_co2 %>
    (g)***
</div>
  </body>
</html>
